.event-name {
	display: none !important;
}

.venue.ng-star-inserted {
    display: none !important;
}

.event-date.ng-star-inserted {
    display: none !important;
}

.event-where-when {
    padding: 0px;
}
