span.status-text.gt-mobile.ng-star-inserted {
    display: none !important;
}

.event-where-when.ng-star-inserted {
    display: none !important;
}

.btn-wrapper.ng-star-inserted {
    padding-top: 1.5rem !important;
}

.event-description.ng-star-inserted {
    padding-top: 1.5rem !important;
}

.event-details {
    padding-bottom: 1.5rem !important;
}

.section.tickets {
    padding-top: 1.5rem !important;
}

.tickets-outer.ng-tns-c1827899152-16 {
    padding-top: 1.5rem !important;
}
