button.mat-focus-indicator.register-button.mat-button.mat-button-base.ng-star-inserted {
    border-radius: 0px!important;
}
button.get-ticket-button.ng-tns-c220-2.ng-star-inserted {
    border-radius: 0px!important;
}
button.mat-focus-indicator.social-button.mat-raised-button.mat-button-base.mat-secondary.round-social-button {
    border-radius: 0px!important;
}
button.mat-focus-indicator.icon-btn.mat-mini-fab.mat-button-base.mat-primary {
    border-radius: 0px!important;
}
button.action-button.ng-tns-c224-4.ng-star-inserted {
    border-radius: 0px!important;
}
.ticket-card {
    border-radius: 0px!important;
}
.card.ng-tns-c224-4 {
    border-radius: 0px!important;
}
.card.ng-tns-c224-7 {
    border-radius: 0px!important;
}
button.action-button.ng-tns-c224-7.ng-star-inserted {
    border-radius: 0px!important;
}
button.collapse-btn.ng-tns-c228-9 {
    border-radius: 0px!important;
}
.card.ng-tns-c224-8 {
    border-radius: 0px!important;
}
button.edit-btn.ng-tns-c224-8.ng-star-inserted {
    border-radius: 0px !important;
}
button.action-button.ng-tns-c224-8.ng-star-inserted {
    border-radius: 0px !important;
}
button.action-button.ng-tns-c224-12.ng-star-inserted {
    border-radius: 0px !important;
}
button {
    border-radius:0px !important
}
card {
    border-radius:0px !important
}
div.checkout-card {
    border-radius:0px !important
}
