.container.mat-elevation-z2.ng-star-inserted {
    max-width: 60rem!important;
}
    

section.video-stream {
    width: 100vw!important;
    height: 50vw!important;
}

.session-item[_ngcontent-gpe-c202] {
    flex-direction: column;
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
}



.slice.ng-star-inserted {
    display:flex!important;
    flex-wrap:wrap!important;
}
