.section.speakers {
    color: #ffffff !important;
}

h2.title.ng-tns-c209-2 {
    color: #ffffff !important;
}

.speaker-name.ng-tns-c209-2.ng-star-inserted {
    color: #ffffff !important;
}

h2.title.ng-tns-c218-2 {
    color: #ffffff !important;
}

.speaker-name.ng-tns-c218-2.ng-star-inserted {
    color: #ffffff !important;
}

.speaker-company.ng-tns-c209-2.ng-star-inserted {
    color: #ffffff !important;
}

.speaker-title.ng-tns-c209-2.ng-star-inserted {
    color: #ffffff !important;
}
